#introTitle {
  background-color: red;
  color: black;
  text-align: center;
}
#introWords {
  font-weight: bold;
}
#whyListHeader {
  font-weight: bold;
}
#whyListHeader {

}
body {
  background-color: limeGreen;
}

/*
This is all code for the javascript ping pong ball
*/
#dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
#mainPictureListArea {
  display: inline-block;
}
#mainPictureListArea p {
  position: relative;

}
#mainPictureListArea img {
  float: right;
}
#pingpongballcontainer {
  top: 40%;
  left: 30%;
}
/*
Below code changes text color of words in navBar
*/
#topNavBar .navbar-brand {
  color: white;
}
#topNavBar .navbar-nav  .nav-link {
  color: white;
}
