#testParagraph {
  background-color: red;
  color: white;
}
body {
  background-color: green;
}
/*
Below code changes text color of words in navBar
*/
#topNavBar .navbar-brand {
  color: white;
}
#topNavBar .navbar-nav  .nav-link {
  color: white;
}
